KoctasWM_Project_Mobile/KoctasWM_Project/Web References/WS_Koli/z_kt_wm_koli_detay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__Z_KT_WM_KOLI_DETAY">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__Z_KT_WM_KOLI_DETAY_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__Z_KT_WM_KOLI_DETAY">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050569975641ED787D61E8972C4C684</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZKtWmKoliDetay">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZktWmReturn">
        <xsd:sequence>
          <xsd:element name="Msgty" type="n0:char1" />
          <xsd:element name="Msgid" type="n0:char20" />
          <xsd:element name="Msgno" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="Msgv1" type="n0:char50" />
          <xsd:element name="Msgv2" type="n0:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZktWmTtReturn">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZktWmReturn" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZKtWmKoliDetay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IvKoliNo" type="n0:char15" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZKtWmKoliDetayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EsResponse" type="tns:ZktWmTtReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZKtWmKoliDetay">
    <wsdl:part name="parameters" element="tns:ZKtWmKoliDetay" />
  </wsdl:message>
  <wsdl:message name="ZKtWmKoliDetayResponse">
    <wsdl:part name="parameter" element="tns:ZKtWmKoliDetayResponse" />
  </wsdl:message>
  <wsdl:portType name="Z_KT_WM_KOLI_DETAY">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://kterpdev.koctas.com.tr:8000/sap/bc/esdt/docu/sd_text?sap-client=500&amp;sd_name=Z_KT_WM_KOLI_DETAY" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__Z_KT_WM_KOLI_DETAY" />
    </wsp:Policy>
    <wsdl:operation name="ZKtWmKoliDetay">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZKtWmKoliDetay" />
      </wsp:Policy>
      <wsdl:input message="tns:ZKtWmKoliDetay" />
      <wsdl:output message="tns:ZKtWmKoliDetayResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_KT_WM_KOLI_DETAY" type="tns:Z_KT_WM_KOLI_DETAY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__Z_KT_WM_KOLI_DETAY" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZKtWmKoliDetay">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_KT_WM_KOLI_DETAY:ZKtWmKoliDetayRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Z_KT_WM_KOLI_DETAY_soap12" type="tns:Z_KT_WM_KOLI_DETAY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__Z_KT_WM_KOLI_DETAY_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZKtWmKoliDetay">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_KT_WM_KOLI_DETAY:ZKtWmKoliDetayRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_KT_WM_KOLI_DETAY">
    <wsdl:port name="Z_KT_WM_KOLI_DETAY" binding="tns:Z_KT_WM_KOLI_DETAY">
      <soap:address location="http://kterpdev.koctas.com.tr:8000/sap/bc/srt/rfc/sap/z_kt_wm_koli_detay/500/z_kt_wm_koli_detay/z_kt_wm_koli_detay" />
    </wsdl:port>
    <wsdl:port name="Z_KT_WM_KOLI_DETAY_soap12" binding="tns:Z_KT_WM_KOLI_DETAY_soap12">
      <wsoap12:address location="http://kterpdev.koctas.com.tr:8000/sap/bc/srt/rfc/sap/z_kt_wm_koli_detay/500/z_kt_wm_koli_detay/z_kt_wm_koli_detay" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>